body{
  font-family: 'Josefin Slab', serif;
  font-size: 16px;
  background-color:#eef2f6;
}

.btn, .btnsubmit{
  margin: 10px;
  padding:5px;
  min-width:150px;
  background-color: #2698e2;
  color: #f1f1f1;
  font-size: 16px;
  font-family: 'Josefin Slab 700', serif;
  cursor: pointer;
}
.btnsubmit{
  margin: 0px;
  font-size:18px;

}
#btnlist{
  border-bottom: 1px solid #b5c3d5;
  padding: 10px 15px
}
p{

  margin: 10px 15px;
}

figure {
    display:inline-block;
    margin: 25px 15px;
    vertical-align: text-top;

}
video, img {
  border-radius: 3px;
  overflow:hidden;
  background:#000;
  border: 1px solid rgba(0,0,0,0.8);
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  cursor: pointer;
}

form{
  display: block;
  padding: 35px 20px;
  min-width: 24%;
  height: 100%;
  vertical-align: inherit;
  float: right;
  background-color: #b5c3d5;
}
form label{
  display:block;
  padding-bottom:8px;
  font-size:21px;
}
form input::placeholder{
  color:#eee;
}
form input:focus::-webkit-input-placeholder {
    opacity: 0;
}
form input:onblur::-webkit-input-placeholder {
    opacity: 0;
}

form #pixar-char{
  width:300px;
  padding: 8px;
  font-size: 16px
}
form #add-char{
  width:100px;
  margin-top:10px;

}
#imagelist{
  max-width:72.4%;
  margin: 0 10px;
  background-color:#f5f7fa;
}
